.content {
    max-width: 960px;
    padding: 25px;
    text-align: center;
    margin-top: 50px;
}

.new-grid {
    box-sizing: border-box;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 10px;
    max-width: 960px;
    margin-top: 100px;
}

.singleCell {
    position: relative;
    border: 1px solid;
    box-sizing: border-box;
    background-color: #e0e0e0;
}

.singleCell::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.square .content {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
}


