body {
    height: 100%;
    width: 100%;
}

.content {
    box-sizing: border-box;
    padding: 25px;
    text-align: center;
    margin-top: 50px;
}

#newGrid {
    box-sizing: border-box;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.colorContainer {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#defaultColor {
    margin: 10px;
    border-radius: 5px;
}

#multiColor {
    border-radius: 5px;
}

#gridContainer {
    display: grid;
    position: relative;
    width: 960px;
    aspect-ratio: 1 / 1;
    margin-top: 100px;
    height: auto;
    grid-template-columns: repeat(16, auto);
    border: 5px solid red;
}

.columns {
    border: 1px solid black;
    background-color: lightgray;
    
}

.columns::before {
    content: '';
    display: grid;
    padding-top: 100%;
}

.columns .content {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
}
