.grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 10px;
    width: 960px;
}

.singleCell {
    background-color: #e0e0e0;
    max-height: 0;
    padding-top: 100px;
}

.singleCell:hover {
    background-color: blue;
}